.title {
    color:rgb(9, 107, 107);
background: pink;
background-color: rgb(11, 243, 212);
width: auto;
margin: 20px;
height: 300px;
text-align: center;
}


.bottom { 
    background-color: rgb(11, 243, 212);
      display: flex;
}
.content1 {
    border-top: 30px mediumvioletred solid;
       margin: 20px;
       text-align: right;
}

.content2 {
    border-top: 30px paleturquoise solid;
       margin: 20px;
     text-align: left;
}

.content3 {
    border-top: 30px  mediumspringgreen solid;
       margin: 20px;
}